
<div class="panel panel-default">
    <div class="panel-heading">
        <h3>
            <a class="article-link titleInput" target="_blank" href="{{link}}">{{title}}</a>
            <a class="btn btn-danger delete " href="/delete/{{_id}}">Delete From Saved</a>
            <a class="btn btn-info notes"  data-title="{{title}}" data-id="{{_id}}" data-toggle="modal" data-target="#product_view">Article Notes</a>
        </h3>
    </div>
    <div class="panel-body">{{teaser}}</div>
</div>

